
div.inputLabel

    div(style=" padding: 3px 0px 10px 30px; font-size: 15px; width: 100%;")

        span(style=" padding: 3px 0px 0px 30px; font-size: 15px; width: 100%;") شماره شناسنامه

    div(style=" width: 100%;")

        input#ceoIdNum.signInInput.form-control.justNumber(type='text', name='ceoIdNum', style="width:80%; display: inline-block")

div.inputLabel

    div(style=" padding: 3px 0px 10px 30px; font-size: 15px; width: 100%;")

        span(style=" padding: 3px 0px 0px 30px; font-size: 15px; width: 100%;") کد ملی

    div(style=" width: 100%;")

        input#ceoIdCodeRes.signInInput.form-control.justNumber(type='text', name='ceoIdCodeRes', style="width: 80%; display: inline-block")