html
   head
        title ایران کارفا
        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width, initial-scale=1")
        link(rel = "stylesheet", href = "/assets/css/bootstrap.min.css")
        link(rel = "stylesheet", href = "/assets/css/fontiran.css")
        link(rel = "stylesheet", href = "/assets/css/font.css")
        link(rel = "stylesheet", href = "/assets/css/style.css")
        link(rel = "stylesheet", href = "/assets/css/hover.css")
        link(rel = "stylesheet", href = "/assets/css/startRequestError.css")
        script(src="/assets/js/jquery.min.js")
        script(src="/assets/js/bootstrap.min.js")
        link(rel = "icon", href="/assets/img/fav.png", type="image/png" sizes="16x16")
        meta(name="description", content="یکی از مهم‌ترین تسهیل‌گری‌های برای نوآوری در نظر گرفتن اندکی روامداری قانونی و مقدماتی است. کسب‌و‌کارهای نوپا و شرکت‌ها براساس مدل کسب‌وکارنو شکل می‌گیرند پس باید به آنها فرصت داد تا ایده خود را برای مدت محدودی و در سقف محدود به آزمون بگذارند")
   body
        div#headerStartRequestError
            img.logo.homeBtn(src = "/assets/img/mainLogo.png")

        hr#headerStartRequestErrorDivider

        div#mainStartRequestError
            div.mainStartRequestErrorDivs#mainStartRequestErrorTitleDiv
                b#mainStartRequestErrorTitle صفحه مورد نظر یافت نشد
            center#StartRequestErrorHomeBtnDiv
                button#StartRequestErrorHomeBtn.homeBtn بازگشت به صفحه‌ی اصلی


        script(src="/assets/js/common.js")