extend ProfilesStructure.pug

block content
    .breadcome-area.mg-b-30.des-none
        .container-fluid
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .breadcome-list.map-mg-t-40-gl.shadow-reset
                        .row
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                .breadcome-heading
                                    form(role='search')
                                        input.form-control(type='text', placeholder='Search...')
                                        a(href='')
                                            i.fa.fa-search
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                ul.breadcome-menu
                                    li
                                        a(href='#') Home
                                        span.bread-slash /
                                    li
                                        span.bread-blod Dashboard
    // Breadcome End
    .contact-clients-area.mg-b-40
        .container-fluid
            .row
                .col-lg-4.col-md-4.col-sm-6.col-xs-12(style= "margin-top: 15px")
                    .contact-client-single.shadow-reset.ct-client-b-mg-30.ct-client-b-mg-30-n.contact-client-v2
                        .row
                            .col-lg-12(style= "margin-top: 15px")
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/5.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Doly Firma
                                    h1
                                        a#group(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Designer
                                .contact-client-address
                                    h3 Twitter, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like
                .col-lg-4.col-md-4.col-sm-6.col-xs-12(style= "margin-top: 15px")
                    .contact-client-single.shadow-reset.ct-client-b-mg-30.ct-client-b-mg-30-n.contact-client-v2
                        .row
                            .col-lg-12
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/4.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Grim Joy
                                    h1
                                        a#group1(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Frontend
                                .contact-client-address
                                    h3 Facebook, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like
                .col-lg-4.col-md-4.col-sm-6.col-xs-12(style= "margin-top: 15px")
                    .contact-client-single.shadow-reset.ct-client-ds-n.contact-client-v2
                        .row
                            .col-lg-12
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/3.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Prince Das
                                    h1
                                        a#group2(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Backend
                                .contact-client-address
                                    h3 Linkedin, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like
            .row
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .contact-client-single.shadow-reset.mg-t-30.contact-client-v2
                        .row
                            .col-lg-12
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/2.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Akram Fox
                                    h1
                                        a#group3(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Developer
                                .contact-client-address
                                    h3 Behance, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .contact-client-single.shadow-reset.mg-t-30.contact-client-v2
                        .row
                            .col-lg-12
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/1.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Halima Kan
                                    h1
                                        a#group4(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Marketer
                                .contact-client-address
                                    h3 Amazon, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .contact-client-single.shadow-reset.mg-t-30.ct-client-ds-n.contact-client-v2
                        .row
                            .col-lg-12
                                .contact-client-img.contact-img-v2
                                    a(href='#')
                                        img(src='../assets/img/img/notification/6.jpg', alt='')
                                    h2
                                        a.contact-client-name(href='#') Ajoy Khan
                                    h1
                                        a#group5(data-type='select', data-pk='1', data-value='5', data-source='/groups', data-title='Select group', href='#') Saler
                                .contact-client-address
                                    h3 Apple, Inc.
                                    p.address-client-ct.client-addres-v2 Sector: #11, Road No: #17, House No: 06, Block: c2, Uttara, USA.
                                    p (123) 456-7890
                                .contact-client-footer
                                    .btn-group
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-phone
                                            | Call
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-envelope
                                            | Email
                                        a.btn.btn-xs.btn-white
                                            i.fa.fa-facebook
                                            | Like