extends structure.pug

block content

    div.mainBgColorOfLogin#pass1(style="background-color: #1f647d; padding: 10px;")

        form(method="post", action="/forget")

            input(type="hidden", name="_csrf", value=csrfToken)

            center

                div.retrievePassMainBox

                    div.stepTitles

                        b(style="float:right") رمز عبور خود را بازیابی کنید

                    div.retrievePassBoxes

                        div.rpBoxTitle

                            b(style="float:right") برای بازیابی رمز عبور لطفاً اطلاعات هویتی خود را وارد نمایید

                        div.retrievePass2ndDiv
                            div.retrievePassInputsLabel#retPassIdc

                                span(style="display: inline-block; padding-top: 3px; font-size: 15px; float: right") کد ملی

                                input#nid.rpInput.form-control.justNumber(type='text', placeholder='کد ملی ده رقمی' name='nid')

                            div.divSignInInput
                                div.g-recaptcha(data-sitekey="6LewsasUAAAAAPalqBV7qJioRJa5qXnz4nCHH686")

                            script(src='https://www.google.com/recaptcha/api.js', nonce=my_nonce)

                            div#siBtnForgetPass.divSignInInput

                                a(href="/login", style="float: right; cursor: pointer; text-decoration: none; padding-top: 8px; font-size: 10px") بازگشت به صفحه ورود

                                button#signInBtn(type="submit")
                                    b(style="float: right; color: #ffffff; font-size: 15px") تأیید
                                    img(src = "/assets/img/arrowup.png", style = "float:left; transform: rotate(-90deg); padding-top: 10px")

                        - if(typeof(err) !== "undefined" && err != null)
                            p#invalidNID.warning کد ملی وارد شده در سامانه موجود نیست

                    div.retPassHelpBox#1stRetPassHelpBox

                        div#retrievePassSupport.signInHelpBoxContentDivs

                            div.signInHelpBoxTextDivs(style= "width: 70%")

                                span(style="display:inline-block; float: right") باز هم مشکل دارید؟

                            button#retrievePassSupportBtn.signInHelpBoxBtn.contactUsBtn
                                 b(style="color: #ffffff; font-size: 14px") تماس با پشتیبانی

                            div.signInHelpBoxTextDivs
                                span(style="display:inline-block; float: right; font-size: 10px") با پشتیبانی تماس بگیرید تا شما را راهنمایی کنند.