extends structure.pug

block content

    style { #recaptcha-anchor-label: font-family: IRANSans; }

    div
         img(src = "/assets/img/banner.jpg", style="width: 100%")

    div.col-xs-12.signUpContents
        center
            div#gam1.signUpBoxes
                form#firstForm(method="post", action="/signup")

                    input(type="hidden", name="_csrf", value=csrfToken)

                    div.stepTitles(style="float:right; font-size: 20px")
                        b(style="float:right") شروع کنید


                    - if(typeof(msg) !== undefined && msg != null && msg === "nok1")
                        center#incorrectNID.formErr(style="clear:both; padding-top: 10px")
                            p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") کد ملی وارد شده نامعتبر است

                    - if(typeof(msg) !== undefined && msg != null && msg === "nok5")
                        center#incorrectNID.formErr(style="clear:both; padding-top: 10px")
                            p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") شماره همراه وارد شده نامعتبر است

                    - if(typeof(msg) !== undefined && msg != null && msg === "nok2")
                        center#duplicateNID.formErr(style="clear:both; padding-top: 10px")
                            p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") کد ملی یا شماره همراه وارد شده در سامانه موجود است

                    - if(typeof(msg) !== undefined && msg != null && msg === "nok3")
                        center#tooManyRequest.formErr.hidden(style="clear:both; padding-top: 10px")
                            p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") تعداد درخواست های شما بیش از حد مجاز است

                    center#incorrectCaptcha.formErr.hidden(style="clear:both; padding-top: 10px")
                        p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") لطفا نکات مربوط به کپچا را رعایت فرمایید

                    center#fillInfo.formErr.hidden(style="clear:both; padding-top: 10px")
                        p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") لطفا تمام اطلاعات لازم را پر نمایید

                    center#agreement.formErr.hidden(style="clear:both; padding-top: 10px")
                        p.verifyCodeHelpText.errors(style="float: none; text-align: center !important") لطفا موافقت خود را با شرایط سایت اعلام کنید.

                    div#idCode.inputLabel.signUpInputLabel
                        div.signUpInputLabelTitles
                            span(style="float:right; padding: 3px; font-size: 15px") کد ملی
                            img.on#onOff2(src = "/assets/img/helpon.png", style = "float: left; width: 35px; padding: 4px 10px 0px 0px")
                        input#idC.justNumber.signUpInput.form-control(name="nid", type='text', placeholder='کد ملی ده رقمی')
                        p.explainText.hidden#explain2(style="display: inline-block; margin-top: 10px;") کد ملی ده رقمی خود را بدون فاصله و علامت - وارد فرمایید.

                    div#phoneNum.inputLabel.signUpInputLabel
                        div.signUpInputLabelTitles
                            span(style="float:right; padding: 3px; font-size: 15px") شماره تلفن همراه
                            img.on#onOff3(src = "/assets/img/helpon.png", style = "float: left; width: 35px; padding: 4px 10px 0px 0px")
                        input#pNum.justNumber.signUpInput.form-control(name="phone_num", type='text', placeholder='09xxxxxxxxx')
                        p.explainText.hidden#explain3(style="display: inline-block; margin-top: 10px;") شماره تلفن همراه خود را با کد ابتدایی آن و بدون فاصله و علامت وارد فرمایید.

                    div#acceptance
                        input#accCheck(type='radio', name='accCheck')
                        span#accText(style="float: right") من موافقت خود را با قوانین و مقررات سامانه جامع اشتغال اعلام می دارم و آن را به دقت مطالعه کرده ام. همچنین در بازه های رمانی متناوب با مراجعه به صفحه قوانین و مقررات از تغییرات آن مطلع شده و آن را می پذیرم. همچنین در صورت تغییر شماره تلفن همراه یا پست الکترونیکی در اسرع وقت در پروفایل خود اقدام به اصلاح موارد تغییر یافته می کنم. من می دانم عضویت در سامانه دلیلی برای پرداخت تسهیلات نبوده بلکه مقدمه آن است.

                    div.divSignInInput
                        div.g-recaptcha(data-sitekey="6LewsasUAAAAAPalqBV7qJioRJa5qXnz4nCHH686")

                    script(src='https://www.google.com/recaptcha/api.js?hl=fa', nonce=my_nonce)

                    div.suFooter
                        a(href="/", style="float: right; cursor: pointer; text-decoration: none; padding-top: 5px; font-size: 12px") بازگشت به صفحه اصلی

                    span.continueStages#continueStages1(style="padding: 5px; cursor: pointer")
                        b(style="float: right; color: #ffffff; font-size: 15px") ادامه
                        img(src = "/assets/img/arrowup.png", style = "float:left; transform: rotate(-90deg); padding-top: 10px")

        script(src="/assets/js/activation.js")
