extends structure.pug

block backImg

    div.divTitleOnBlock
        h3.titleOnBack

    //div(style="background: url('/assets/img/cover.jpg'); background-size: cover; right: 0; position: absolute; width: 100%; height: 200px; opacity: 0.9")

    img(src = "/assets/img/cover.jpg", style = "width: 100%; opacity: 0.9")

block content

    div.navBarOnOverBackMainDiv
        ul
            img.homeIcon(src="/assets/img/home.png")
            li.homeBtn خانه /
            li حمایت ها /
            li تسهیلات کم‌بهره

    div#mainBlockTermsAndConditions
        center
            div#termsAndConditionsMenuBar
                div.termsAndConditionsMenuBarTitles
                    h4 اصطلاحات تخصصی تجاری
                    h4.hidden اصطلاحات تخصصی تجاری
                    h4.hidden اصطلاحات تخصصی تجاری
                    img.arrowUpIcon(src="/assets/img/arrowup.png")
                div.termsAndConditionsMenuBarTitles
                    h4 قوانین و مقررات
                    img.arrowUpIcon(src="/assets/img/arrowup.png")

            div#termsAndConditionsContentsDiv
                p سلام و وقت بخیر خدمت عزیزان گرامی
                p lkashdckjabscjav
                p asdjasvjhcvajsbckja
                p mxncbiaudhyajsdh,n
                p wqpihjcgdvm
                p asgdkazhjcvxzckjagduyj
