
style .redStatus {color: red;} .greenStatus { color: green; } .blueStatus { color: #1f647d; }

div.hidden.popup#upload
    div.innerDiv
        div.innerInner
            div.closePopUp(onclick="closePopUp()")
            div.header#headerInPopUp
                h3 در حال ارسال مدارک
            div.body#bodyInPopUp
                center
                    div#files
                    span.hidden.btn.btn-success#confirm تایید