
div.hidden#requestURL(data-val='/submitModiramelForm')
script(src="/assets/js/modiramelForm.js")

div.col-lg-8.col-md-12(style="float: right; display: inline-block; margin-bottom: 30px; padding: 0")

    - let instIdTmp = inst.id
    input(type="hidden", name="instId", value=instIdTmp)
    include elements/name
    include elements/shahkar_melli
    include elements/phone
    include elements/email

include elements/submitBtn
